DATABASE_URL="postgresql://postgres:<PASSWORD>@postgres:5432/omnivault"
BASE_URL=""
ENCRYPTION_KEY=""
HMAC_KEY=""
ENCRYPTION_METHOD="aes-256-gcm"
IV_LENGTH=12
KDF_SALT=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
RAILWAY_CLIENT_ID=""
RAILWAY_CLIENT_SECRET=""
BETTER_AUTH_SECRET=""
ENVIRONMENT="production" # or development
